
  <div id="login-component" class="row justify-content-center align-items-center h-100 login">
    <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <div id="login-logo">
        <img src="assets/img/hms-logo.png" />
      </div>
      <div id="login-danger-message" class="alert alert-danger" style="display: none;">
        Wrong username or password.
      </div>
      <form action="" method="POST">
        <div class="form-group">
          <input autofocus class="form-control form-control-lg" id="username" required placeholder="Username" type="text">
        </div>
        <div class="form-group">
          <input class="form-control form-control-lg" id="password" required placeholder="Password" type="password">
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-lg btn-block" type="button" onclick="app.login.login()">Login <i id="login-loading" style="display: none;" class="fa fa-spinner fa-spin"></i></button>
        </div>
      </form>
    </div>
  </div>

  <script type="text/javascript" src="assets/js/app/components/login.js"></script>

  <script type="text/javascript">
    app.login.init();
  </script>