<div class="row">
    <div class="col-md-12">
        <h1>
            <i class="fas fa-flag-checkered"></i> Reservations</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="input-group mb-3">
            <input type="text" id="search-reservation" class="form-control" placeholder="Search by reservation number or guest name">
        </div>
    </div>
    <div class="col-md-2">
        <select id="status" class="form-control">
            <option value="upcoming">Upcoming</option>
            <option value="current">Current</option>
            <option value="past">Past</option>
            <option value="never-checked-in">Never Checked-In</option>
            <option value="canceled">Canceled</option>
        </select>
    </div>
    <div class="col-md-3">
        <button onclick="app.reservations.editReservation(0)" class="btn btn-success add btn-block move-from-top">
            <i class="fas fa-plus"></i> Add New Reservation</button>
    </div>
</div>

<div id="reservation-data-placeholder" class="component-content-placeholder">

</div>

<div class="modal fade" id="edit-reservation-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="reservation-form" autocomplete="off">
                    <input type="hidden" name="room_reservation_id" id="room_reservation_id">
                    <div class="form-group row">
                        <label class="col-3 col-form-label" for="room_id">Room</label>
                        <div class="col-9">
                            <select id="room_id" name="room_id" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label" for="room_id">Meal</label>
                        <div class="col-9">
                            <select id="meal_option_id" name="meal_option_id" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="guest_id" class="col-3 col-form-label">Guest</label>
                        <div class="col-9">
                            <select id="guest_id" name="guest_id" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="from_date" class="col-3 col-form-label">From</label>
                        <div class="col-9">
                            <input id="from_date" name="from_date" placeholder="From" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="to_date" class="col-3 col-form-label">To</label>
                        <div class="col-9">
                            <input id="to_date" name="to_date" placeholder="To" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="adult_count" class="col-3 col-form-label">Adult(s)</label>
                        <div class="col-9">
                            <input id="adult_count" name="adult_count" placeholder="Adult(s)" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="calculated_price" class="col-3 col-form-label">Price</label>
                        <div class="col-9">
                            <div class="input-group mb-3">
                                <input id="calculated_price" readonly name="calculated_price" type="text" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">BAM</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-times"></i> Close</button>
                <button type="button" class="btn btn-primary" onclick="app.reservations.saveReservation()">
                    <i class="far fa-save"></i> Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="assets/js/app/components/reservation.js"></script>

<script type="text/javascript">
    app.reservations.init();
</script>